
.AuthHome-CollectionsRow {
  width: 90%;
  display: flex;
  margin: auto;
  position: relative;
  padding: 50px;
  overflow: hidden;
  justify-content: center;
}

.AuthHome-FadeOverlay {
  height: 100%;
  width: 200px;
  position: absolute;
  z-index: 50;
}

.AuthHome-FadeOverlayLeft {
  left: 0;
  background: linear-gradient(
    270deg,
    rgba(246, 246, 250, 0) 0%,
    rgba(246, 246, 250, 1) 100%
  );
}

.AuthHome-FadeOverlayRight {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(246, 246, 250, 0) 0%,
    rgba(246, 246, 250, 1) 100%
  );
}

.AuthHome-red {
  padding: 40px;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

.AuthHome-red > svg {
  margin: 0 50px;
  cursor: pointer;
}

.AuthHome-fill:hover {
  fill: #A1CB5A;
}

button2 {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 90vw;
  margin-top: -50vh;
}

button1 {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: -50vh;
}
