.cardbody{
    width: 900px;
    height: 450px;
    background-color: #EFF5FF;
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: center;
    font-family: 'Acme', sans-serif;
    border: 2px solid #3364FF;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 20px #6d6d6d;
}

.backdrop-con{
    position: absolute;
    top: 170vh;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    /* filter: blur(20px); */
}

.cardbanner{
  display: flex;
  flex-direction: row;
  text-align: left;
  padding-top: 10vh;
}

.leftcardbanner{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.leftcardbanner h1{
  font-family: 'Acme', sans-serif;
  color: #2D3D0F;
  font-size: 35px;
  font-weight: lighter;
}

.leftcardbannerpara h1{
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #8C8C99;
  margin-top: 1.5rem;
}

.leftbannerpic{
  width: 109px;
  height: 235px;
  margin-left: -300px;
  margin-right: 200px;
  margin-top: 120px;
}

.rightcard{
  background-color: #F4FAEB;
  width: 400px;
  margin-left: 20px;
  border-radius: 25px;
  box-shadow: 1px 5px 15px #D1DFBB;
  box-shadow: 1px 5px 5px #B4DC70;
  border-width: 1px;
  border-color: #B4DC70;
  border-style: solid;
}

.rightcardname, .rightcardcollege, .rightcardmail, .rightcardpassword{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.rightcard h4{
  font-family: 'Acme', sans-serif;
  color: #2D3D0F;
  font-size: 16px;
  font-weight: lighter;
  margin-left: 20px;
  margin-right: 10px;
}

.naming{
  border-radius: 5px;
  border-width: 1px;
  border-color: #8ABE30;
  border-style: solid;
  height: 20px;
}

.rightcardyear{
  padding-top: 20px;
}
.yearbuttons{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.yearbutton{
  background-color: #688F23;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #2D3D0F;
  margin-left: 20px;
}

.yearbutton:hover{
  background-color: #8ABE30;
}

.yearbutton h1{
  font-size: 15px;
  font-family: 'Acme', sans-serif;
  color: #2D3D0F;
  font-weight: lighter;
  padding-top: 6px;
  padding-left: 10px;
}

.rightbuttons{
  margin-top: 280px;
  margin-left: -300px;
  display: flex;
  flex-direction: row;
}

.signinbutton, .signupbutton{
  background-color: #688F23;
  width: 65px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #2D3D0F;
  margin-left: 20px;
}

.signinbutton:hover, .signupbutton:hover{
  background-color: #8ABE30;
}


.signinbutton h1, .signupbutton h1{
  font-size: 15px;
  font-family: 'Acme', sans-serif;
  color: #ffff;
  font-weight: lighter;
  padding-top: 6px;
  padding-left: 10px;
}
