.joinbutton{
  background-color: #688F23;
  width: 120px;
  height: 40px;
  border-radius: 35px;
  border-width: 0px;
}

.joinbutton:hover{
  background-color: #8ABE30;
}

.joinbutton h2{
  font-size: 20px;
  font-family: 'Acme', sans-serif;
  color: #FCFFF9;
  font-weight: lighter;
}
