@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

.banner {
    display: flex;
    flex-direction: row;
}

.rightbanner {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10rem;
}

.rightbannerhead h1 {
    font-family: 'Acme', sans-serif;
    color: #2D3D0F;
    font-size: 62px;
    font-weight: lighter;
}

.rightbannerpara p {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #8C8C99;
    margin-top: 1.5rem;
}

.leftbanner {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-right: 50px;
}

.leftbanner img {
    width: 100%;
    height: 100%;
}


/* Midbanner */

.midbanner{
  margin: 50px 150px;
}

.bannerhead{
  font-family: 'Acme', sans-serif;
  color: #2D3D0F;
  font-size: 60px;
  font-weight: lighter;
}

.midbannerpara p {
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #8C8C99;
  margin-top: 1.5rem;
}

/* midbannerbody */

.midbannerbody{
  margin-top: 10vh;
  margin-left: 10vw;
  align-items: center;
  text-align: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.midbannerboxbody{
  align-items: center;
  text-align: center;
  border-radius: 25px;
  width: 239px;
  height: 100px;
  border: 1px solid #688F23;
  border-bottom: 4px solid #688F23;
  cursor: pointer;
}

.midbannerboxpic img{
  margin-top: 10px;
  width: 45px;
  height: 45px;
}

.midbannerboxbio h3{
  font-size: 20px;
}



.joimidbanner{
  margin-left: 10vw;
  margin-top: 20vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 2fr));
}

.joimidbannerpic img{
  width: 430px;
  height: 400px;
}

.joimidbannerpicdetails{
  margin-top: 20vh;
}
.joimidbannerpicdetails h3{
  font-size: 35px;
  font-family: 'Acme', sans-serif;
  color: #2D3D0F;
}

.joimidbannerpicdetails p{
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #8C8C99;
  margin-top: 25px;
  width: 40vw;
  margin-bottom: 10px;
}

.joimidbannerbutton{
  background-color: #688F23;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.joimidbannerbutton h2{
  font-size: 20px;
  font-family: 'Acme', sans-serif;
  color: #FCFFF9;
  font-weight: lighter;
  padding-top: 10px;
  padding-left: 25px;
}



.teammidbanner{
  margin-left: 10vw;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.teammidbannerpicdetailshead h3{
  font-size: 35px;
  font-family: 'Acme', sans-serif;
  color: #2D3D0F;
  margin-top: 20vh;
}

.teammidbannerpicdetailshead p{
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #8C8C99;
  margin-top: 25px;
  width: 500px;
}

.teammidbannerpic{
  margin-left: -10vw;
  margin-top: -25px
}

.teammidbannerpic img{
  width: 600px;
  height: 300px;
}

.teamcards{
  margin-top: 20vh;
  margin-left: 2vw;
  background-color: #FCFFF9
}

.teampiccards{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-left: 50px;
}

.teamdetailcardinfo{
  text-align: center;
  align-items: center;
  background-color: #F4FAEB;
  width: 250px;
  height: 250px;
  border-radius: 25px;
  box-shadow: 1px 5px 5px #D1DFBB;
  box-shadow: 1px 5px 5px #B4DC70;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  border-width: 1px;
  border-color: #B4DC70;
  border-style: solid;
  border-top: 0px;
}

.teamdetailaboutpic img{
  width: 100px;
  height: 100px;
  position: absolute;
  align-items: center;
  text-align: center;
  margin-top: -100px;
  margin-left: -50px;
}

.teamdetailabout{
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.teamdetailabout h4{
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #2D3D0F;
  margin-top: 25px;
  margin-bottom: 10px;
}

.teamdetailabout p{
  color: #6A6A78
}

.icon{
  border-radius: 100%;
  border-width: 0.5px;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-top: 10px;
  border-color: #C4C4C4;
}
