.banner{
  display: flex;
  flex-direction: row;
}

.rightbanner{
  flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}
