@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

}

/*
===============
Navbar
===============
*/
nav {
  background: #ffff;
  box-shadow: 10px 5px 10px #B4DC70;
  position: fixed;
  width: 100vw;
}

h3{
  font-family: 'Acme', sans-serif;
  font-size: 36;
  color: #2D3D0F;
  font-weight: lighter;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
}

.nav-toggle {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.nav-toggle:hover {
  color: #688F23;
  transform: rotate(90deg);
}

/**
 * Import fonts and Icons
 */

.navbar__dropdown:hover .dropdown {
  display: flex;
  flex-direction: column;

}

/* Dropdowns */
.dropdown {
  display: none;
  position: absolute;
  top: 3rem;
  background-color: white;
  color: black;
  list-style-type: none;
  margin-left: -1rem;
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 5px 5px;
  border: 0.5px solid #d9d9d9;
  padding: 8px 0;
}

.dropdown-item {
  padding: 0.5rem 3rem 0.5rem 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

/* Only for use in CodePen */

.dropdown-item .material-icons {
  padding-right: 1rem;
  position: absolute;
}


@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;
  }

  .navbar-link{
    color: #688F23;
    font-family: 'Adamina';
    font-size: 22;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    margin-left: 20px;
  }

  .contact-link {
    background-color: #688F23;
    margin-left: 10px;
    border-radius: 15px;
    height: 25px;
    width:80px;
    margin-left: 20px;
  }

  .links a {
    padding: 0;
    margin: 0 0.5rem;

  }

  .links a:hover {
    padding: 0;
    background: transparent;
  }

}
