.eventbanner{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.lefteventbanner img{
  width: 45vw;
  height: auto;
}

.righteventbanner img{
  width: 50vw;
}

.rightbannerheader{
  display: flex;
  flex-direction: column;  
}

.rightbannerheader h1{
  font-size: 62px;
  font-family: 'Acme', sans-serif;
  color: #2D3D0F;
  font-weight: lighter;
}

.rightbannerheader p {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #8C8C99;
}

.eventbuttons{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  align-items: center;
}

.eventbuttons .icon{
  width: 40px;
  height: 40px;
  background-color: #B4DC70;
}

.eventbannercards{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.eventbannercard{
  background-color: #F4FBF4;
  width: 80vw;
  height: 200px;
  margin-bottom: 10vh;
  border-radius: 25px;
  box-shadow: 1px 5px 15px #D1DFBB;
  align-items: center;
  text-align: center;
  border-width: 1px;
  border-color: #B4DC70;
  border-style: solid;
}

.eventcardetails{
  display: flex;
  flex-direction: column;
  margin: 30px;  
}

.eventbannercard h3{
  font-family: 'Acme', sans-serif;
  font-size: 25px;
  line-height: 28px;
  display: flex;
}

.eventbannercard .icon {
  width: 30px;
  height: 30px;
}

.eventbannercard p{
  color: #6A6A78;
  font-size: 15px;
  font-family: 'Acme', sans-serif;
  font-weight: lighter;
  text-align: justify;
}

.eventbannercardetails{
  display: flex;
  flex-direction: row;
}

.eventbannercardglobe{
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.eventbannercardcall{
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.eventbannercardetails p{
  color: #6A6A78;
  font-size: 15px;
  font-family: 'Acme', sans-serif;
  font-weight: lighter;
  padding-top: 4px;
}
