.banner {
  display: flex;
  flex-direction: row;
  height: 90vh;
  text-align: center;
  justify-content: center;
}

.facultybannerbg{
  position: relative;
  width: 50%;
}

.banner-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: -60vw;
  width: 500px;
}

.banner-content h1 {
  font-family: 'Acme', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #2D3D0F;
  font-size: 60px;
}

.banner-content h3 {
  font-family: 'Acme', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  color: #8C8C99;
}

.banner-image {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.banner-image img {
  width: 450px;
  height: auto;
  margin-top: 15vh;
}

.facultybody{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facultybodycard{  
  background-color: #F4FBF4;
  width: 80vw;
  height: 200px;
  border-radius: 25px;
  box-shadow: 1px 5px 15px #D1DFBB;
  box-shadow: 1px 5px 5px #B4DC70;
  border-width: 1px;
  border-color: #B4DC70;
  border-style: solid;
  margin:10px;
}

.facultybodydp img{
  width: 200px;
  height: 150px;
}

.facultybodydetails{
  display: flex;
  flex-direction: row;  
  padding: 20px; 
  width: 70vw;
  height: 200px;
  justify-content: space-between;
  align-items: center;
}


.facultybodycard .icon {
  width: 30px;
  height: 30px;
}

.facultybodycard p{
  color: #6A6A78;
  font-size: 15px;
  font-family: 'Acme', sans-serif;
  font-weight: lighter;
}

.facultybodyinfo{
  display: flex;
  flex-direction: column;
}

.facultybodyinfom{
  display: flex;
  line-height: 0;
}

.facultyname, .facultysubject, .facultynum{
  cursor: pointer;
  padding-top: 14px;
}
