.studentcardbody{
    width: 850px;
    height: 450px;
    background-color: #EFF5FF;
    display: flex;
    padding: 40px;
    align-items: center;
    font-family: 'Acme', sans-serif;
    border: 2px solid #688F23;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 20px #6d6d6d;
    flex-direction: row;
    position: sticky;
}

.backdrop-student{
    position: absolute;
    top: 5vh;
    width: 60vw;
    height: 80%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftcard{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.leftcard h1{
  font-family: 'Acme', sans-serif;
  color: #2D3D0F;
  font-size: 35px;
  font-weight: lighter;
}

.leftcardpara h1{
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #8C8C99;
}

.leftpic{
  width: 209px;
  height: 235px;
}

.registerstudentcard{
  background-color: #F4FAEB;
  width: 500px;
  height: 300px;
  border-radius: 25px;
  box-shadow: 1px 5px 15px #D1DFBB;
  box-shadow: 1px 5px 5px #B4DC70;
  border-width: 1px;
  border-color: #B4DC70;
  border-style: solid;
}


.rightname, .rightcollege, .rightemail, .rightpassword{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.registerstudentcardside{
  padding: 20px;
}

.registerstudentcardside h4{
  font-family: 'Acme', sans-serif;
  color: #2D3D0F;
  font-size: 16px;
  font-weight: lighter;
  padding: 1px;
}

.naming{
  border-radius: 5px;
  border-width: 1px;
  border-color: #8ABE30;
  border-style: solid;
  height: 20px;
}

.yearbuttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 320px;
}

.yearbutton{
  background-color: #688F23;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #2D3D0F;
  text-align: center;
  padding: 5px;
}

.yearbutton:hover{
  background-color: #8ABE30;
}

.yearbutton h1{
  font-size: 15px;
  font-family: 'Acme', sans-serif;
  color: #2D3D0F;
  font-weight: lighter;
}

.buttons{
  width: 100px;
  margin-top: 20px;
}

.signinbutton, .signupbutton{
  background-color: #688F23;
  width: 65px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #2D3D0F;
  text-align: center;
  padding: 5px;
}

.signinbutton:hover, .signupbutton:hover{
  background-color: #8ABE30;
}

.signinbutton h1, .signupbutton h1{
  font-size: 15px;
  font-family: 'Acme', sans-serif;
  color: #ffff;
  font-weight: lighter;
}